<%= form_for @route_segment do |f| %>
  <% @questions.each do |question| %>
    <%= question.title %>
    <% question.answers.each do |answer| %>
      <label>
        <input name="whatever[answerings][<%= question.id %>][answer_id]" type="radio" value="<%= answer.id %>" />
        <%= answer.name %>
      </label>
    <% end %>
  <% end %>
<% end %>
